﻿@model TVDailyCriticUI.ViewModels.MovieViewModel
@{
    ViewBag.Title = "Movie new";
}

<form asp-action="Insert" asp-controller="Movie" enctype="multipart/form-data" method="post">
    <div class="card mb-5">
        <div class="card-header">
            <div class="row">
                <label class="col">Movie new</label>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" accept="image/*" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Title</label>
                    <input asp-for="MovieTitle" class="form-control" />
                    <span asp-validation-for="MovieTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label">Director</label>
                    <input asp-for="Director" class="form-control" />
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Writer</label>
                    <input asp-for="Writer" class="form-control" />
                    <span asp-validation-for="Writer" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Producer</label>
                    <input asp-for="Producer" class="form-control" />
                    <span asp-validation-for="Producer" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="control-label">Description</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Release Date</label>
                    <input asp-for="ReleaseDate" class="form-control" />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-row mb-6">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
