﻿@model TVDailyCriticUI.ViewModels.MovieViewModel
@using Microsoft.AspNetCore.Http;
@{
    ViewBag.Title = "Movie details";
}

<div class="card mb-5">
    <div class="card-header">
        <div class="row">
            <label class="col">Movie details</label>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-12">
                @{
                    string base64String = string.Empty;

                    if (Model.Image != null)
                        base64String = Convert.ToBase64String(Model.Image, 0, Model.Image.Length);
                }
                <img class="text-center p-3" src="data:image/jpeg;base64,@base64String" width="200" height="290" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Movie Title</label>
                @Html.EditorFor(model => model.MovieTitle, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-6">
                <label>Release Date</label>
                @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Producer</label>
                @Html.EditorFor(model => model.Producer, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                <label>Director</label>
                @Html.EditorFor(model => model.Director, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                <label>Writer</label>
                @Html.EditorFor(model => model.Writer, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Description</label>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <a class="nav-link text-primary" asp-area="" asp-route-id="@Model.MovieId" asp-controller="Movie" asp-action="RatingsStatistics">Ratings Statistics</a>
            </div>
        </div>
        <hr />
        @if (@Context.Session.GetString("Role") == "Admin")
        {
            <a asp-action="Update" class="btn btn-info" asp-route-id="@Model.MovieId">Edit</a>
        }
    </div>
</div>
<br />
<br />
<div class="card">
    <div class="card-header">
        <div class="row">
            <label class="col">@Html.DisplayFor(model => model.Comments.Count) comments</label>
        </div>
    </div>
    <div class="row p-12">
        @foreach (var item in Model.Comments)
        {
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-11">
                                <span class="badge badge-dark" height:20px">
                                    @Html.DisplayFor(modelItem => item.User.Firstname)
                                    @Html.DisplayFor(modelItem => item.User.Lastname)
                                </span>
                                <span class="badge badge-primary badge-pill" align="right">Rated it @item.Rating</span>
                                @if (@Context.Session.GetString("Role") == "Admin")
                                {
                                    <a asp-action="Delete" class="btn btn-danger float-right" asp-controller="Comment" asp-route-id="@item.CommentId">Delete</a>
                                }
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                @Html.DisplayFor(modelItem => item.CommentText)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (@Context.Session.GetString("IsStateLogged") == "true")
    {
        <div class="row p-2">
            <div class="col-sm-12" align="right">
                <a asp-action="Create" asp-controller="Comment" asp-route-id="@Model.MovieId" class="btn btn-outline-primary">Add new comment</a>
            </div>
        </div>
    }
</div>
