﻿@model TVDailyCriticUI.ViewModels.FilterMovieViewModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="List" method="get" asp-controller="Movie">
    <div class="form-row">
        <div class="form-group col-md-12">
            <input asp-for="Movie.MovieTitle" placeholder="Search..." class="form-control" />
        </div>
        <div class="form-group col-md-1" align="right">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </div>
</form>

@if (@Context.Session.GetString("IsStateLogged") == "true")
{
    <div class="row" style="margin-bottom:10pt">
        <div class="col-sm-12" align="right">
            <a asp-action="Create" class="btn btn-outline-primary">Create new movie</a>
        </div>
    </div>
}

<div class="list-group">
    @foreach (var item in Model.Movies)
    {
        <a class="list-group-item list-group-item-action flex-column align-items-start" asp-action="Details" asp-route-id="@item.MovieId">
            <div class="card" asp-action="Details" asp-route-id="@item.MovieId">
                @{
                    string base64String = string.Empty;

                    if (item.Image != null)
                        base64String = Convert.ToBase64String(item.Image, 0, item.Image.Length);
                }

                <div class="card-body">
                    <img class="float-left p-3" src="data:image/jpeg;base64,@base64String" width="105" height="140" />
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.MovieTitle)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </div>
        </a>
        <div class="card-footer">
            <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.MovieId">Details</a>

            @if (@Context.Session.GetString("Role") == "Admin")
            {
                <a asp-action="Update" class="btn btn-outline-warning" asp-route-id="@item.MovieId">Edit</a>
                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.MovieId">Delete</a>
            }
        </div>
    }
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />