﻿@model TVDailyCriticUI.ViewModels.RatingsStatisticsViewModel
@using TVDailyCriticUI.ViewModels;

@{

}

<h3>Ratings Statistics for @Model.MovieTitle</h3>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Metric</th>
            <th scope="col">Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Total amount of users rated</td>
            <td>@Model.TotalUsers</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Rating Mode</td>
            <td>@Model.ModeRating</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Rating Mean</td>
            <td>@Model.MeanRating</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Percentage of Men rated</td>
            <td>@Model.PercentageMenRating %</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Percentage of Women rated</td>
            <td>@Model.PercentageWomenRating %</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Percentage of Adults Rated</td>
            <td>@Model.PercentageAdultsRating %</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Percentage of Teenagers Rated</td>
            <td>@Model.PercentageTeenagersRating %</td>
        </tr>
    </tbody>
</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
