﻿@model TVDailyCriticUI.ViewModels.MovieViewModel
@{
    ViewBag.Title = "Movie edit";
}
<form asp-action="Edit" asp-controller="Movie" method="post" enctype="multipart/form-data">
    <div class="card mb-5">
        <div class="card-header">
            <div class="row">
                <label class="col">Movie edit</label>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" accept="image/*" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>Movie Title</label>
                    <input asp-for="MovieTitle" class="form-control" />
                    <span asp-validation-for="MovieTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Producer</label>
                    <input asp-for="Producer" class="form-control" />
                    <span asp-validation-for="Producer" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label>Director</label>
                    <input asp-for="Director" class="form-control" />
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label>Writer</label>
                    <input asp-for="Writer" class="form-control" />
                    <span asp-validation-for="Writer" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Description</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input asp-for="CreatedDate" class="form-control" hidden="hidden" />
                    <span asp-validation-for="CreatedDate" class="text-danger" hidden="hidden"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Release Date</label>
                    <input asp-for="ReleaseDate" class="form-control" />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-row mb-6">
                <input asp-for="MovieId" class="form-control" hidden="hidden" />
                <input type="submit" value="Edit" class="btn btn-warning" />
            </div>
        </div>
    </div>
    <br />
</form>
