﻿@model TVDailyCriticUI.ViewModels.CommentViewModel
@{ ViewData["Title"] = "Create comment";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<form asp-action="Insert" asp-controller="Comment">
    <div class="card mb-5">
        <div class="card-header">
            <div class="row">
                <label class="col">Comment new</label>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="CommentText" class="control-label"></label>
                    <input asp-for="CommentText" class="form-control" />
                    <span asp-validation-for="CommentText" class="text-danger"></span>
                    <input asp-for="MovieId" hidden="hidden" />
                </div>
            </div>
            <div class="form-row">
                <label class="control-label">Rating</label><br />
                <select class="form-select" asp-for="Rating">
                    <option>
                        1
                    </option>
                    <option>
                        2
                    </option>
                    <option>
                        3
                    </option>
                    <option>
                        4
                    </option>
                    <option>
                        5
                    </option>
                </select>
            </div>
            <hr />
            <div class="form-row mb-6">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
