﻿@using System.IO;

@{
    ViewBag.Title = "Index";
}

<div class="card">
    <div class="card-body p-3">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum leo non elit tincidunt, nec pulvinar leo lobortis. Pellentesque non consectetur mi. Duis condimentum mauris vel interdum mattis. Aliquam erat volutpat. Nam ut dolor non est gravida molestie. Nulla eget tempor tellus, et tristique purus. Donec porta elit non pellentesque pretium. Proin sed massa maximus, malesuada nunc ut, mollis massa. Ut tristique ornare mauris a volutpat. Quisque tincidunt, quam volutpat pretium sagittis, augue augue lacinia nibh, in vestibulum eros dolor ut purus.

            Vestibulum non arcu tempor, volutpat lectus nec, sodales sapien. Vestibulum scelerisque velit posuere pellentesque rutrum. Nulla aliquet mollis dui in pulvinar. Donec fringilla enim sit amet ex fringilla tristique. In sit amet massa metus. Maecenas sollicitudin elit augue, id pellentesque ipsum semper finibus. Aenean convallis libero id nulla vehicula, vitae ornare nisl cursus. Vestibulum id molestie ante. Nam mollis vitae nisi non interdum. Vivamus ac fermentum erat, eget tempor justo. In hac habitasse platea dictumst. Phasellus libero eros, rhoncus eget congue vitae, tristique viverra metus. Nam turpis orci, accumsan sed odio ac, tincidunt imperdiet elit. Maecenas nec pretium elit. Cras ornare varius faucibus. Suspendisse potenti.

            Nulla id nisi lacinia, tempus ex a, dapibus libero. In rhoncus metus lectus, tristique efficitur tortor interdum ac. Aliquam erat volutpat. Nam consequat iaculis lorem, vel porta orci aliquet ac. Vestibulum volutpat sodales magna, eget varius est egestas sit amet. Cras nec sodales velit, vel eleifend dolor. Maecenas volutpat augue metus, ac rhoncus ipsum malesuada vel. Maecenas turpis sapien, congue at felis sed, finibus pretium odio. Integer aliquet sapien eu felis scelerisque, ac euismod metus porttitor. Etiam enim urna, scelerisque eget ipsum ut, tristique rutrum mi. Aliquam et faucibus metus. Pellentesque convallis libero sapien, at rhoncus sapien feugiat in. Fusce id porta ante, quis porttitor orci. Nulla sodales urna efficitur massa rhoncus, id dictum risus posuere. Praesent tempus, mi sit amet consequat pretium, arcu ante venenatis dui, id rutrum orci neque et erat. Pellentesque porttitor odio venenatis, tincidunt lorem ac, bibendum mi.
        </p>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
