﻿@model TVDailyCriticUI.ViewModels.UserViewModel
@using TVDailyCriticDAL.Models

@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active text-primary" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-login" aria-selected="true">Login</a>
        <a class="nav-item nav-link text-success" id="nav-register-tab" data-toggle="tab" href="#nav-register" role="tab" aria-controls="nav-register" aria-selected="false">Register</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
        <form asp-action="SignIn" class="text-left card p-4">
            <div class="alert alert-info" role="alert">
                <h4>Login</h4>
            </div>
            <br />
            <div class="form-row m-6">
                <div class="col">
                    <label asp-for="Email" class="control-label"></label>
                </div>
            </div>
            <div class="form-row m-6">
                <div class="col input-group">
                    <div class="input-group-prepend">
                        <span asp-validation-for="Email" class="input-group-text" id="basic-addon1">@@</span>
                    </div>
                    <input asp-for="Email" type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label asp-for="Password" class="control-label"></label>
                </div>
            </div>
            <div class="form-row">
                <div class="col input-group">
                    <div class="input-group-prepend">
                        <span asp-validation-for="Password" class="input-group-text" id="basic-addon1">**</span>
                    </div>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                </div>
            </div>
            <br />
            <div class="form-row">
                <input type="submit" value="Login" class="btn btn-info" />
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="nav-register" role="tabpanel" aria-labelledby="nav-register-tab">
        <form asp-action="SignUp" class="text-left card p-4">
            <div class="alert alert-success" role="alert">
                <h4>Register</h4>
            </div>
            @if (ViewBag.Error == true)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h6><i>@ViewBag.Message</i></h6>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <br />
            <div class="form-row mb-4">
                <div class="col">
                    <label asp-for="Firstname" class="control-label"></label>
                    <input asp-for="Firstname" class="form-control" />
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Lastname" class="control-label"></label>
                    <input asp-for="Lastname" class="form-control" />
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row mb-4">
                <div class="col">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row mb-4">
                <div class="col">
                    <label class="control-label">Gender</label>
                    <div class="editor-field">
                        @Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(Gender))), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col">
                    <label asp-for="Telephone" class="control-label"></label>
                    <input asp-for="Telephone" class="form-control" />
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row mb-4">
                <div class="col">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Role" class="control-label"></label>
                    <input asp-for="Role" value="User" disabled="disabled" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-row mb-8">
                <input type="submit" value="Register" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
