﻿@model TVDailyCriticUI.ViewModels.UserViewModel

@{
    ViewBag.Title = "User details";
}

<div class="card mb-5">
    <div class="card-header">
        <div class="row">
            <label class="col">User details</label>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.Firstname)</label>
                @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.Lastname)</label>
                @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                @{
                    string Gender = Model.Gender == 0 ? "Male" : "Female";
                }
                <label>Gender</label>
                <input class="form-control" disabled="disabled" value="@Gender" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.Email)</label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.Telephone)</label>
                @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.Age)</label>
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.Role)</label>
                @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
    </div>
</div>
