﻿@model TVDailyCriticUI.ViewModels.UserViewModel
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">My Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Change Personal Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Change Password</a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>@Html.DisplayNameFor(model => model.Firstname)</label>
                    @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
                <div class="form-group col-md-6">
                    <label>@Html.DisplayNameFor(model => model.Lastname)</label>
                    @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>@Html.DisplayNameFor(model => model.Email)</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
                <div class="form-group col-md-6">
                    <label>@Html.DisplayNameFor(model => model.Telephone)</label>
                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>@Html.DisplayNameFor(model => model.Age)</label>
                    @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
                <div class="form-group col-md-6">
                    @{
                        string Gender = string.Empty;
                        if (Model != null)
                        {
                            Gender = Model.Gender == 0 ? "Male" : "Female";
                        }
                    }
                    <label>Gender</label>
                    <input class="form-control" disabled="disabled" value="@Gender" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>@Html.DisplayNameFor(model => model.Role)</label>
                    @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <form asp-action="Settings">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>@Html.DisplayNameFor(model => model.Firstname)</label>
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-6">
                        <label>@Html.DisplayNameFor(model => model.Lastname)</label>
                        @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>@Html.DisplayNameFor(model => model.Email)</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-6">
                        <label>@Html.DisplayNameFor(model => model.Telephone)</label>
                        @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <hr />
                @Html.HiddenFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                <div class="form-row mb-6">
                    <input type="submit" value="Change" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <form asp-action="Profile">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>@Html.DisplayNameFor(model => model.Password)</label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", Type = "password" } })
                    </div>
                    <div class="form-group col-md-6">
                        <label>@Html.DisplayNameFor(model => model.ConfirmPassword)</label>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", Type = "password" } })
                    </div>
                </div>
                <hr />
                @Html.HiddenFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                <div class="form-row mb-6">
                    <input type="submit" value="Change Password" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />